
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box
{
    width: 80%;
    min-height: 100px;
    border: 1px solid #000;
    margin: auto;
    
}
.box p
{
    text-align: justify;
    padding: 10px;
    font-size: 1.3em;
}
.box p::first-letter
{
    color: red;
    font-size: 1.9em;
}